/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    width: 10rem;
    height: 10rem;
    border: 4px solid #007bff;
    background:
      radial-gradient(farthest-side, #007bff 94%, #0000) top/10px 10px no-repeat,
      conic-gradient(#0000 30%, #007bff);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 10px),
      #000 0
    );
    animation: rotate 1.5s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/Poppins-Medium.woff2') format('woff2'),
    url('/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/Poppins-Bold.woff2') format('woff2'),
    url('/fonts/Poppins-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all;
  transition-duration: 300;
}

li {
  list-style-type: none;
}
